/*  Contributors: Aure, Kowther */
.booking-request{
    border: solid black;
    padding: 1%;
    margin: 2%;
}

.filter{
    padding: 1%;
}
.filter-all{
    background: #EBDEA8 !important;
    padding: 2%;
}
.filter-all > form{
    background: #EBDEA8 !important;
    padding-top: 0 !important;
}

#filtering-class{
    border-color: #33383b;
    background-color: coral;
}

.logo{
    width: 25%;
}

.main-body{
  padding: 5%;
}

.post{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 2%;
  margin: 2%

}

.about-me-content {
    font-family: Montserrat, sans-serif;
}


.logo-aboutme {
    text-align: center;

}

#about-me-logo {
  margin: auto;
  display: block;
  max-width:20%;
  max-height:20%;
  width: auto;
  height: auto;
}

iframe {
    margin: auto;
    display: block;
}
.hover-info-space-size {
    display: none;
}

#hover-icon:hover + .hover-info-space-size {
    display: block;


}
.list-of-space-sizes {
    list-style-type: none;
}


.post_image{
  width:25%
}


.row {
  display: flex; /* equal height of the children */
  box-shadow: 10px 10px 5px grey;
}

.review_row{
   box-shadow: none !important;
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 0 !important;
}


.signup-left{
    border-top: solid black;
  border-bottom: solid black;
  border-left: solid black;
}

.signup-right{
    border-top: solid black;
  border-bottom: solid black;
  border-right: solid black;
}

.signup-image {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.signup-content{
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}


.comment-profile-pic{
    border: 2px solid black;
  max-width:5%;
  max-height:5%;
  width: auto;
  height: auto;
}

.comment-title{
    padding-left: 5%;
}

.align {
   display: flex;
   align-items:center;

}

.rating-profile-pic{
    max-width:10%;
    float: left;
    padding-right: 1%;
}

.star-average{
    float: right;

}

.rating-content{
    size: 15px;
}

.score{
    font-size: 20px;
}

.profile_picture{
  border: 5px solid black;
  margin: auto;
  display: block;
  max-width:20%;
  max-height:20%;
  width: auto;
  height: auto;
  margin-top: 2%;
    margin-bottom: 2%;

}


.align_center{
  text-align: center;
  margin: auto;
}

.form-design{
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 0;
}

.form-group{
    text-align: center;
    border: none;
}

h1{
  text-align: center;
  color:red;
}

main{
  text-align: center;
}
 /* below is the styling for the forms specifically the sign up button and log in page elements*/
#signupbutton {
  padding-top: 5%;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.attempt {
    margin: 0 auto;
    text-align: center;
}

h2{
  padding-left: 20%;
  padding-right: 20%;
}

form {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;

}

/* Navbar CSS- adapted from codepen navbar code  */


* {
  box-sizing: border-box;

}

.nav {
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: transparent;
  opacity: 1;
}


.nav{
  display: inline-block !important;
  margin: auto;
  text-align: center;
}

.nav > .nav-header > .nav-title {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /*float: right;*/
  font-family: Montserrat, sans-serif;
  color: black;
    font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  color: red;
}

.nav > #nav-check {
  display: none;
}

/* For responsive aspect */
@media (max-width:600px) {

  .nav > .nav-header > .nav-title {
    font-size: 30px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: red;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }

  .menu-small{
      padding: 1.5%;
  }



  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    border-color: #33383b;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    z-index: 9999;
    left: 0;

  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 5%;
      font-size: 25px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*  footer CSS- adapted from codepen footer code  */



.footer-distributed{
	background: #cccccc;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 35px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}



.footer-distributed h3{
	color:  #ffffff;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}




/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer socials */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 40px;
	height: 35px;
	cursor: pointer;
    background-color:  #33383b;

	border-radius: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 10px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
    font-size: 18px;
}

@media (max-width: 1000px) {


    .signup-right{
       display: none ;
    }

    .signup-left{
       width:100%;
        border-right: solid black;
    }

}
/* to make sure its responsive */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px Montserrat, sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}


}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}


    .score{
        visibility: hidden;
    }
    .rating-profile-pic  {

        max-width: 20%;
        padding-right: 4%;
    }


}




.star{
          color: goldenrod;
          font-size: 2.0rem;
          padding: 0 1rem; /* space out the stars */
        }
.star::before{
          content: '\2606';    /* star outline */
          cursor: pointer;
        }
.star.rated::before{
          /* the style for a selected star */
          content: '\2605';  /* filled star */
        }

.stars{
            counter-reset: rateme 0;
            font-size: 2.0rem;
            font-weight: 900;
            margin:0 auto
        }
.star.rated{
            counter-increment: rateme 1;
        }

.stars::after{
            content: counter(rateme) '/5';
        }


.fa {
  font-size:200% !important;
}

.checked {
  color: orange;
}







/* Three column layout */
.side {
      float: left;
      width: 15%;
      margin-top: 10px;
      padding-right: 3%;
      font-family: Montserrat, sans-serif;
    font-size: 20px;

}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/*
!* Individual bars *!
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
*/

.center{
    padding-top: 5%;
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .side, .middle {
    width: 100%;

  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}