{% extends 'layout.html' %}
{% block content %}
<h1 class="about-me-content">About Us</h1>
    <div class="logo-aboutme">
    <img id="about-me-logo" src="../static/logo.jpg" alt=" " >
    </div>
<br>
<p class="about-me-content"> Space4Less is an application that strives to provide a cheaper and more straightforward solution
    to the problems international students face in finding space to store their belongings and simultaneously
    allowing a way for others to diversify their income.
<br>
Check out our video for more information!
</p>
    <br>
    <iframe  src="https://www.youtube.com/embed/boNbWMtn_lI" width="420" height="315"></iframe>

{% endblock content %}