{% extends 'layout.html' %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-design">
                <legend class="border-bottom"> Update Password</legend>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        <br>
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        <br>
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="attempt">
                    <!-- added this above class and the below id to make the elements easier to target with css -->
                    <p>{{ form.submit(class="form-control form-control-lg") }}</p>
                </div>

            </fieldset>


        </form>
    </div>
{% endblock content %}