<!-- Contributors: Kowther Elmi
this is a template for the page the user inputs an email so they can reset their password-->
{% extends 'layout.html' %}

{% block content %}

    <div class="content-section">
        <form method="POST" novalidate>
            <fieldset class="form-design">
                <legend class="border-bottom"> Reset Password</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        <br>
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="attempt">
                    <!-- added this above class and the below id to make the elements easier to target with css -->
                    <p>{{ form.submit(class="form-control form-control-lg") }}</p>
                </div>

            </fieldset>


        </form>
    </div>
{% endblock content %}