<!-- Contributors: Kowther Elmi
this is a template for the FAQ page-->
{% extends 'layout.html' %}
{% block content %}
    <h3> felis eu blandit iaculis, tortor mi egestas elit?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper venenatis magna nec tempus.
        Suspendisse congue diam quis tortor imperdiet, non pulvinar ligula venenatis.
    </p>
    <h3> felis eu blandit iaculis, tortor mi egestas elit?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper venenatis magna nec tempus.
        Suspendisse congue diam quis tortor imperdiet, non pulvinar ligula venenatis.
    </p>
    <h3> felis eu blandit iaculis, tortor mi egestas elit?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper venenatis magna nec tempus.
        Suspendisse congue diam quis tortor imperdiet, non pulvinar ligula venenatis.
    </p>
    <h3> felis eu blandit iaculis, tortor mi egestas elit?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper venenatis magna nec tempus.
        Suspendisse congue diam quis tortor imperdiet, non pulvinar ligula venenatis.
    </p>
    <h3> felis eu blandit iaculis, tortor mi egestas elit?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper venenatis magna nec tempus.
        Suspendisse congue diam quis tortor imperdiet, non pulvinar ligula venenatis.
    </p>

{% endblock content %}