{# Description: PO's properties #}
{# CONTRIBUTORS: Aure Enkaoua #}

{% extends 'layout.html' %}
{% block content %}

    <h1>{{ current_user.username }}'s posts</h1>
    {# we print all the posts that belong to the PO who is logged in#}
    {% for post in posts %}
        <div class="post">
            <div class="media content-section">
                <img class="mr-3 article-image post_image"
                     src="{{ url_for('static', filename='post_pictures/' + post.image, width=50, height =50) }}">

                <div class="media-body">
                    <h4 class="media-heading"><a
                            href="{{ url_for('posts.single_post', post_id=post.post_id) }}">{{ post.title }}</a></h4>
                    <p>Posted by <a href="#">{{ post.username }}</a></p>
                    <p>{{ post.content }}</p>
                    <small> Date posted: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>

                <div>
                    <a class="btn btn-sm btn-primary" href="{{ url_for('posts.update_post', postid = post.post_id) }}">Update</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}