{% extends 'layout.html' %}
{% block content %}

    <img class='profile_picture rounded-circle' src="{{ image_file }}">
    <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
    <h2 class="align_center">{{ current_user.username }}</h2>
    <h3 class="align_center">{{ current_user.email }}</h3>

    <div class="center">


        {% if current_user.roles == 'renter' %}
            <h3>Booking History:</h3>
            <table class="table">
                <tr>
                    <th> Date booked</th>
                    <th> Post title</th>
                    <th> status</th>
                </tr>
                {% for booking in bookings %}
                    <tr>
                        <td> {{ booking.date_booked.strftime('%Y-%m-%d') }} </td>
                        <td> {{ booking.title }} </td>
                        {% if booking.status == 'request pending' %}
                            <td> request pending</td>

                        {% elif booking.status == 'payment required' %}
                            <td><a class="btn btn-primary"
                                   href="{{ url_for('booking.payment', bookid = booking.book_id) }}">MAKE PAYMENT</a>
                            </td>
                        {% elif booking.status == 'payed' %}

                            <td> payed {{ booking.price }}</td>

                        {% else %}

                        {% endif %}
                    </tr>
                {% endfor %}

            </table>


            <a class="align_center btn btn-primary" href="{{ url_for('user.my_bookings') }}">BOOKINGS</a>
            <a class="align_center btn btn-primary" href="{{ url_for('user.update_account') }}">Update account</a>
        {% elif current_user.roles == 'property_owner' %}

            <a class="align_center btn btn-primary" href="{{ url_for('user.my_posts') }}">MY PROPERTIES</a>
            <a class="align_center btn btn-primary" href="{{ url_for('user.update_account') }}">Update account</a>
            <a class="align_center btn btn-primary" href="{{ url_for('main.view_profile', userid=current_user.get_id() ) }}">reviews</a>

            <p>booking requests</p>
            {% for request in bookings %}
                <div>
                    <p>{{ request.content }}</p>
                <p>You may now talk to them and arrange a date and price
                    email: {{ request.email }}</p>
                    {% if request.status == 'request pending' %}
                        <a class="btn btn-success" href="{{ url_for('booking.send_invoice', bookid=request.book_id) }}">Send
                        Invoice Request</a>
                    {% elif request.status == 'booking required' %}
                        <p style="color: red"> PAYMENT PENDING </p>
                    {% elif request.status == 'payed' %}
                        <p style="color: red"> PROCESS COMPLETE </p>
                    {% endif %}
                </div>

            {% endfor %}
        {% endif %}

    </div>

{% endblock content %}