<!-- Contributors: Kowther (pagination), Ariel (results display) -->
{% extends 'layout.html' %}

{% block content %}

    <div class="filter-all">
        <p class="filter" style="font-family: Montserrat, sans-serif;  ">Filter your search!</p>
        <form class="form-inline ml-auto" action="search" method="post">
            <div class="filter">
                <input class="form-control" type="search" name="location" placeholder="Enter location">
            </div>
            <div class="filter">
                <select class="form-control" name="size" id="size">
                    <option value="" selected>Select a size</option>
                    <option value="Extra Small">XS</option>
                    <option value="Small">S</option>
                    <option value="Medium">M</option>
                    <option value="Medium Large">ML</option>
                    <option value="Large">L</option>
                    <option value="Extra Large">XL</option>
                </select>
            </div>
            <div class="filter">
                <input class="btn btn-success form-control" type="submit" placeholder="submit">
            </div>
            <div class="filter">
                <p style="font-family: Montserrat, sans-serif">Showing results for {{ size_for_display }} sized spaces
                    in {{ location_for_display }}</p>
            </div>
        </form>
    </div>


    {# the results are now paginate items thus results.items is required #}
    {% for result in results.items %}
        <div class="post">
            <div class="media content-section">

                <img class="mr-3 article-image post_image"
                     src="{{ url_for('static', filename='post_pictures/' + result.image, width=5000, height =5000) }}">
                <hr width="1" size="500">
                <div class="media-body">
                    {% if current_user.is_authenticated %}
                        <h4 class="media-heading"><a
                                href="{{ url_for('posts.single_post', post_id=result.post_id) }}">{{ result.title }}</a>
                        </h4>
                    {% else %}
                        <h4 class="media-heading"> {{ result.title }}</h4>

                    {% endif %}
                    <p>Posted by <a href="#">{{ result.author.username }}</a></p>
                    <p>{{ result.content }}</p>
                    <small> Date posted: {{ result.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Modified from: https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/09-Pagination/flaskblog/templates/home.html
    Date of Retrieval: [2020/04/10]-->
    <!--this loop of code enables the search results to be paginated, it ensures that the button with the page number
being viewed is filled in (see the different classes btn btn-info mb-4 for when it should be filled in and
btn btn-outline-info mb-4 for just a button with an outline) finally as the number of pages increase an else statement
ensures that an ellipsis will break up the page numbers-->
    {% for page_num in results.iter_pages() %}
        {% if page_num %}
            {% if results.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.search', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('main.search', page=page_num) }}">{{ page_num }}</a>
            {% endif %}

        {% else %}
            ...
        {% endif %}

    {% endfor %}


{% endblock content %}